<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/static/style.css">
    <script defer src="/static/script.js"></script>
</head>
<body>
    <header>
        <h1>Date page</h1>
    </header>

    <main>
        <a href="/">home</a>
        <a href="/date/">date</a>
    </main>

    <footer>
        <p>This is date page.</p>
    </footer>
</body>
</html>